# dependencies
node_modules/

# build
build/
dist/

# env
.env
.env.*

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/
.eslintcache

# bases de datos locales
*.db
pgdata/